@font-face {
    font-family: 'Arimo';
    src: url('../font/Arimo/Arimo.ttf');
url('../font/Arimo/Arimo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../font/Arimo/Arimo-Bold.ttf');
url('../font/Arimo/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.container {
    background-color: #858489; /*change*/
    background-repeat: no-repeat;
    font-family: "Book Antiqua", sans-serif; /*change*/
    text-align: center;
    background-size: cover;
    height: 100vh;
    text-transform: uppercase;
    font-size: 1.1em;
    position: relative;
    min-width: 600px;
}

.theTable {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

thead tr td {
    background-color: white;
}

td {
    background-color: aquamarine;
    display: table-cell;
    vertical-align: middle;
}

.borderLeft {
    border-left: 3px solid #cccccc;
}

thead tr th {
    display: table-cell;
    vertical-align: middle;
    width: 277px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

thead > tr > th:first-child {
    width: 310px;
    font-size: 18px;
    font-weight: bold;
}

.font30px {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3em;
}

.font24px {
    font-size: 24px;
    font-weight: bold;
}

.font16px {
    font-size: 16px;
    color: #848484;
}

.backColorStandart {
    background-color: #213359;
    color: #ffffff;
    transition: all ease-in-out 100ms;
}

.backColorStandart:hover {
    background-color: #192542;
    font-size: 30px
}

.backColorUltimate {
    background-color: #CF6BA7;
    color: #ffffff;
    transition: all ease-in-out 100ms;
}

.backColorUltimate:hover {
    background-color: #b65e93;
    font-size: 42px
}

.backColorPremium {
    background-color: #CACBB8;
    color: #ffffff;
    transition: all ease-in-out 100ms;
}

.backColorPremium:hover {
    background-color: #b3b4a3;
    font-size: 30px
}

tbody tr:nth-child(1) td,
tbody tr:nth-child(3) td,
tbody tr:nth-child(5) td,
tfoot tr td {
    background-color: #f2f2f2;
}

tbody tr:nth-child(2) td,
tbody tr:nth-child(4) td,
tbody tr:nth-child(6) td {
    background-color: #e3e3e3;
}

tbody tr,
thead tr th {
    height: 70px;
}

thead tr:last-child {
    height: 90px;
}

tfoot tr {
    height: 100px;
}

tfoot tr td:hover {
    background-color: #858489;
}

.priceCell {
    position: relative;
}

.priceCell div {
    font-weight: bold;
    box-sizing: border-box;
    display: table-cell;
}

.priceDollar {
    font-size: 60px;
    text-align: right;
    width: 135px;
    height: 88px;
    vertical-align: middle;
}

.priceCent {
    font-size: 24px;
    text-align: left;
    width: 139px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: bottom;
    padding-top: 20px;
}

.priceDuration {
    font-size: 20px; /**/
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    width: 139px;
    height: 44px;
    position: absolute;
    right: 0;
    bottom: 0;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.btnContact {
    font-family: "Book Antiqua", sans-serif; /*change*/
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    /*background: linear-gradient(#959595 0%, #0d0d0d 30%, #000000 100%);*/
    background-color: #000000;
    border-width: 0;
    border-style: solid;
    border-color: #929292;
    border-radius: 40px;
    outline: none;
    transition: all ease-in-out 100ms;
}

.btnContact:hover {
    /*background: linear-gradient(#959595 10%, #0d0d0d 45%, #000000 90%);*/
    background-color: #000;
    box-shadow: 0 5px 4px 0 #323232;
    border-color: #616161;
    font-size: 18px;
}

.btnContact:active {
    /*background: linear-gradient(#959595 0%, #0d0d0d 30%, #000000 100%);*/
    background-color: #000;
    box-shadow: 0 0 0 0 #3e3e3e;
    border-color: #818181;
    font-size: 16px;
}

.btnStandart {
    font-family: "Book Antiqua", sans-serif; /*change*/
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #213359;
    /*background: linear-gradient(#f5f5c5 0%, #89c331 30%, #6B9926 100%);*/
    border-width: 0;
    border-style: solid;
    border-color: #929292;
    border-radius: 40px;
    outline: none;
    transition: all ease-in-out 100ms;
}

.btnStandart:hover {
    border-color: #616161;
    background-color: #213359;
    box-shadow: 0 5px 4px 0 black;
    /*background: linear-gradient(#f5f5c5 10%, #89c331 45%, #6B9926 100%);*/
    font-size: 18px;
}

.btnStandart:active {
    /*background: linear-gradient(#f5f5c5 0%, #89c331 30%, #6B9926 100%);*/
    background-color: #192542;
    box-shadow: 0 0 0 0 black;
    border-color: #818181;
    font-size: 16px;
}

.btnUltimate {
    font-family: "Book Antiqua", sans-serif; /*change*/
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    /*background: linear-gradient(#f5d5f5 0%, #f04a56 30%, #A9353C 100%);*/
    background-color: #CF6BA7;
    border-width: 0;
    border-style: solid;
    border-color: #929292;
    border-radius: 40px;
    outline: none;
    transition: all ease-in-out 100ms;
}

.btnUltimate:hover {
    border-color: #616161;
    /*background: linear-gradient(#f5d5f5 10%, #f04a56 45%, #A9353C 100%);*/
    background-color: #CF6BA7;
    box-shadow: 0 5px 4px 0 black;
    font-size: 18px;
}

.btnUltimate:active {
    /*background: linear-gradient(#f5d5f5 0%, #f04a56 30%, #A9353C 100%);*/
    background-color: #b65e93;
    box-shadow: 0 0 0 0 black;
    border-color: #818181;
    font-size: 16px;
}

.btnPremium {
    font-family: "Book Antiqua", sans-serif; /*change*/
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    /*background: linear-gradient(#b5f5f5 0%, #20807c 30%, #1A6764 100%);*/
    background-color: #CACBB8;
    border-width: 0;
    border-style: solid;
    border-color: #929292;
    border-radius: 40px;
    outline: none;
    transition: all ease-in-out 100ms;
}

.btnPremium:hover {
    border-color: #616161;
    /*background: linear-gradient(#b5f5f5 10%, #20807c 45%, #1A6764 100%);*/
    box-shadow: 0 5px 4px 0 black;
    background-color: #CACBB8;
    font-size: 18px;
}

.btnPremium:active {
    /*background: linear-gradient(#b5f5f5 0%, #20807c 30%, #1A6764 100%);*/
    background-color: #b3b4a3;
    box-shadow: 0 0 0 0 black;
    border-color: #818181;
    font-size: 16px;
}

tr.cellHeight100 > td:hover {
    background-color: #dddddd;
}

.fas, .far {
    font-size: 24px;
    vertical-align: middle;
}

.btnOfChange { /**/
    position: absolute;
    border: 0 solid darkgray;
    background: linear-gradient(grey 10%, white 90%);
    left: 1vw;
    top: 45vh;
    height: 50px;
    width: 150px;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 6px 5px black;
    outline: none;
    transition: all linear 0.05s;
}

.btnOfChange:hover {
    cursor: pointer;
    background: linear-gradient(grey 15%, white 70%);
    font-size: 1.05em;
}

.btnOfChange:active {
    background: linear-gradient(white 30%, grey 70%);
    box-shadow: 0 0 0 black;
    font-size: 0.95em;
    color: #1c1c1c;
}